.section.events, .section.community {
  color: #fff; }

.section.events h1, .section.community h1 {
  color: #fff; }

.see-our {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto; }

#community-background{
  height: 100%;
  max-width: 100%; }

.home-backgrounds {
  position: absolute;
  margin: auto;
  left:0;
  right: 0;
  max-width: 1024px;
  z-index: -1; }

#event-background {
  top: 20px;
  height: 100%;
  width: 100%; }

#organizations-background {
  top: 30%;
  width: 100%; }

.project {
  text-align: center;
}
.project-thumbnail {
  float: none;
  height: 370px;
  width: 100%;
  max-height: 100%;
  background-size: cover;
  background-position: center;
}

.project-content{
  padding: 10px 20px 20px;
}

@media (max-width: 768px) {
  .project-thumbnail {
    float: left;
    height: 100px;
    width: auto;
    margin-right: 10px;
  }
  .project h2 {
    text-align: left;
  }
  .project p {
    text-align: left;
  }
}
