.section {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  overflow: hidden;}

.text-box {
  text-align: center;
  margin: 100px auto 0;
  max-width: 600px; }

.text-box p {
  font-size: 20px
}