.event {
  margin-bottom: 20px;
  overflow: hidden; }

.event-header {
  background-color: #689f38;
  color: #fff; }

.event-body h3 {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis; }

.event-body {
  height: 350px; }

.event-description {
  max-height: 200px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis; }

.event-location {
  border: 1px solid black; }
