.organization {
  margin-bottom: 20px; }

.organization img {
  display: block;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border: #ddd 4px solid;
  background: #fff; }

.organization h2 {
  text-align: center;
  min-height: 100px;
  font-weight: normal;
  color: #212121;}

.organization p {
  display: block;
  margin: auto; }