h1,h2,h3{
  color: #8BC34A;
  font-weight: bold;
}

h1{
  padding: 20px 0;
  font-size: 28px;
}


h1 + p{
  text-align: center;
  margin-bottom: 10px;
}
/*Link Stlyes - Overrides bootstrapGrid.css*/

a {
  color: #8BC34A;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #8BC34A;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:visited{
  color:#689F38;
}

.appbar-icons{
  color: white;
}

.home-button {
  display: block;
  text-decoration: none;
  color: #fff;
}

.home-button:hover{
  color: #fff;
  text-decoration: underline;
}

.home-button:visited{
  color: #fff;
}

h1 {
  text-align: center; }

.text-center{
  text-align: center;
}